@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f111a;
    --foreground: #ededed;
  }
}
 
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


 /*Diseño para el Welcome.tsx*/

#welcome-first-div{
 background-color: #0f111a;
}

#welcome-second-div{
  background-color: #1a1c2c;
  width: 60%;
  border-radius: 10px;
  justify-content: center;
  height: 450px;
}

#welcome_title{
  font-style:geist-sans;
  font-size: 60px;
  padding-block-end: 20%
 }

 #welcome-tabs-trigger{
  color:white;
  font-size: 27px;
 }

#welcome-text-tab{
  font-size: 17px;
}

#welcome-button:hover{
  background-color: #9D4EDD;
}


/*DIseño para el protected*/

#protected-first-div{
  background-color: #0f111a;
}

#protected-second-div{
  background-color: #1a1c2c;
  width: 60%;
  border-radius: 10px;
  justify-content: center;
  height: 600px;
}

.callout-text-large {
  font-size: 23px;
}

.callout-icon-large svg{
  width: 25px;
  height: 37px;
  margin-right: 15px; 
}


/*Diseño para el login*/

#label-login{
  font-style:geist-sans;
  font-size: 35px;
  padding-block-end: 40%;
}

#user_name{
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white; 
}
#user_name:hover{
  border-color: #6a5acd;
}

#password{
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white; 
}
#password:hover{
  border-color: #6a5acd;
}


#login-button{
  background-color: #6a5acd;
  color: white;
}

#login-button:hover{
  background-color: #9D4EDD;
}

#link-login{
  color: #6a5acd;
 }

#login-form {
  background-color: #0f111a;
  display: flex;
  justify-content: center; 
  padding: 115px; 
  
}
#login-div{
  background-color: #1a1c2c;
  width: 30%;
  border-radius: 10px;
  justify-content: center;
  height: 520px;
  box-shadow:  0 0 20px 2px black;
  margin-top: 70px;
}

/*Diseño para register*/

#label-register{
  font-style:geist-sans;
  font-size: 35px;
  padding-block-end: 25%;
  margin-top: 50px;
}

#user_name{
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white; 
}
#user_name:hover{
  border-color: #6a5acd;
}

#password{
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white; 
}
#password:hover{
  border-color: #6a5acd;
}

#age{
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white; 
}
#age:hover{
  border-color: #6a5acd;
}

#city{
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white; 
}
#city:hover{
  border-color: #6a5acd;
}

#autonomous_community{
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white; 
}
#autonomous_community:hover{
  border-color: #6a5acd;
}

#country{
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white; 
}
#country:hover{
  border-color: #6a5acd;
}

.CheckboxRoot {
	background-color: white;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 10px var(--black-a7);
}

.CheckboxRoot:hover {
  background-color: #1a1a1a;
  border: 1px solid #333;
}
.CheckboxRoot:focus {
	box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
	color: #6a5acd;
}

#register-button{
  background-color: #6a5acd;
  color: white;
}

#register-button:hover{
  background-color: #9D4EDD;
}

#register-form{
  background-color: #0f111a;
  display: flex;
  justify-content: center; 
  padding: 115px; 
}

#register-div{
  background-color: #1a1c2c;
  width: 30%;
  border-radius: 10px;
  justify-content: center;
  height: 620px;
  box-shadow:  0 0 20px 2px black;
}


/*Diseño para events*/
#events-first-div{
  background-color: #0f111a;
}

#events-second-div{
  background-color: #1a1c2c;
  width: 35%;
  border-radius: 10px;
  justify-content: center;
  height: 300px;
}

#events-third-div-1{
  margin-left: 62px;
  margin-top: 15px;
}

#events_title{
font-size: 25px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#spinner{
  width: 40px; 
  height: 40px; 
  animation: spin 3.5s linear infinite;
  color: #A9A9A9;
  margin-top: 5px;
}

#events-box{
  border-radius: 10px;
  background-color: #1a1c2c;
  height: 50px;
  margin-top: 10px;
  margin-right: 15px;
}

.AvatarFallback {
	width: 30px;
	height: 30px;
  border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #A9A9A9;
	color: #6a5acd;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
}



#events-main-div{
  height: 100vh;
 
}
#events-fourth-div{
  margin-top: 20px;
  flex: 1;
  border-radius: 10px;
  margin-block-end: 20px;
  margin-right: 15px;
}

#events-menu-div{
  justify-content:left;
  background-color: #1a1c2c;
  width: 220px;
  border-radius: 10px;
  margin-left: 15px;
  
}

#events-list-div{
  background-color: #1a1c2c;
  width: 20%;
  flex: 1;
  border-radius: 10px;
  margin-left: 25px;

}
 
#logout-button{
  color: white;
  width: 215px;
  height: 60px;
  border-radius: 3px;
  font-size: 18px;
}

#logout-button:hover{
  background-color: #282b40;
  color:#6a5acd
}










