.DialogContentMyEvent{
    background-color: rgba(15, 17, 26, 0.95);
    border-radius: 10px;
    box-shadow: var(--shadow-6);
    border-color: #1a1c2c;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px; 
    height: 500px;
    max-width: 670px;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContentUpdateEvent{
    background-color: rgba(15, 17, 26, 0.95);
    border-radius: 10px;
    box-shadow: var(--shadow-6);
    border-color: #1a1c2c;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px; 
    height: 870px;
    max-width: 670px;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }


#box-myevent{
    border-radius: 15px;
    background-color: #1a1c2c;
    margin-left: 40px;
    margin-top: 40px;
    height: 210px;
    width: 250px;
}

#box-myevent:nth-child(n+7) {
    margin-top: -80px; /* Reduce el margen superior para los elementos de la segunda fila */
  }
  

#box-myevent:hover{
    border-color: #9678C8;
  }

  
#no-box-myevent{
    border-radius: 15px;
    margin-left: 550px;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    height: 500px;
    width: 500px;
    background-color: #181A24;
}

#info-date-myevent-div{
    margin-top: 20px;
    margin-left: 15px;  
}

#info-clock-myevent-div{
    margin-top: 5px;
    margin-left: 15px;  
}  

#info-members-myevent-div{
    margin-top: 5px;
    margin-left: 15px;

}

#badge-myevents{
    margin-top: 20px;
    margin-left: 25px;
    width: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#buttons-myevent{
    margin-left: 190px;
    margin-top: -22px;
}

#icon-myevent-update{
    height: 21px;
    width: 21px;
}

#icon-myevent-update:hover{
    background-color: #282b40;
    color:#9678C8;
    border-radius: 5px;
}

#icon-myevent-delete{
    height: 21px;
    width: 21px;
}

#icon-myevent-delete:hover{
    background-color: #282b40;
    color:#9678C8;
    border-radius: 5px;
}


#file-myevent{
    height: 18px;
    width: 18px;
}

#file-myevent:hover{
    background-color: #282b40;
    color:#9678C8;
    border-radius: 5px;
}

#callout-root-event-update
{
  margin-top: 20px;
  margin-left: 90px;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}
.callout-text-event-update {
  font-size: 18px;
}

.callout-icon-event-update svg{
  width: 23px;
  height: 35px;
  margin-right: 15px; 
}


#input-upload{
    background-color: #1a1c2c;
    border-radius: 5px;
    color: white; 
    width: 200px;
    height: 30px;
}
#input-upload:hover{
    border-color: #9678C8;
}

#input-upload::file-selector-button {
    color: white; /* Cambia el color del texto */
    background-color: #1a1c2c;
    padding: 2px 10px; /* Espaciado interno */
    font-size: 14px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

#button-upload{
    margin-top: 10px;
    color: white;
    margin-left: -10px;
    border: 1px solid #333;
    border-radius: 15px; 
    padding: 0 15px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    height: 30px;
    width: 100px;
    user-select: none;
}
#button-upload:hover{
    border-color: #9678C8;    
}

#callout-root-upload {
  margin-top: 10px;
  width: 360px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.callout-text-upload {
  font-size: 16px;
}

.callout-icon-upload svg{
  width: 20px;
  height: 33px;
  margin-right: 15px; 
}


.DialogContentUpload{
    background-color: rgba(15, 17, 26, 0.95);
    border-radius: 10px;
    box-shadow: var(--shadow-6);
    border-color: #1a1c2c;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; 
    height: 360px;
    max-width: 750px;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}


.AlertDialogContent {
    background-color: #1a1c2c;
	border-radius: 6px;
	box-shadow: var(--shadow-6);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 500px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.AlertDialogContent:focus {
	outline: none;
}

.AlertDialogTitle {
	margin: 0;
	color: white;
	font-size: 17px;
	font-weight: 500;

}

.AlertDialogDescription {
	margin-bottom: 20px;
    color: #B0B0B0;
	font-size: 15px;
	line-height: 1.5;
}

#cancel-button{
    color: white;
}
#cancel-button:hover{
    background-color: #282b40;
}