.DialogContentMyEvent{
    background-color: rgba(15, 17, 26, 0.95);
    border-radius: 10px;
    box-shadow: var(--shadow-6);
    border-color: #1a1c2c;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px; 
    height: 500px;
    max-width: 670px;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContentUpdateEvent{
    background-color: rgba(15, 17, 26, 0.95);
    border-radius: 10px;
    box-shadow: var(--shadow-6);
    border-color: #1a1c2c;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px; 
    height: 640px;
    max-width: 670px;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }



#box-myevent{
    border-radius: 15px;
    background-color: #1a1c2c;
    margin-left: 40px;
    margin-top: 40px;
    height: 210px;
    width: 250px;
    
}

#box-myevent:nth-child(n+7) {
    margin-top: -80px; /* Reduce el margen superior para los elementos de la segunda fila */
  }
  

#box-myevent:hover{
    border-color: #9678C8;
  }

  
#no-box-myevent{
    border-radius: 15px;
    margin-left: 550px;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    height: 500px;
    width: 500px;
    background-color: #181A24;
}

#info-date-myevent-div{
    margin-top: 20px;
    margin-left: 15px;  
}

#info-clock-myevent-div{
    margin-top: 5px;
    margin-left: 15px;  
}  

#info-members-myevent-div{
    margin-top: 5px;
    margin-left: 15px;

}

#badge-myevents{
    margin-top: 20px;
    margin-left: 25px;
    width: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#buttons-myevent{
    margin-left: 190px;
    margin-top: -22px;
}

#icon-myevent{
    height: 21px;
    width: 21px;
}

#icon-myevent:hover{
    background-color: #282b40;
    color:#9678C8;
    border-radius: 5px;
}


#file-myevent{
    height: 18px;
    width: 18px;
}

#file-myevent:hover{
    background-color: #282b40;
    color:#9678C8;
    border-radius: 5px;
}



.AlertDialogContent {
    background-color: #1a1c2c;
	border-radius: 6px;
	box-shadow: var(--shadow-6);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 500px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.AlertDialogContent:focus {
	outline: none;
}

.AlertDialogTitle {
	margin: 0;
	color: white;
	font-size: 17px;
	font-weight: 500;

}

.AlertDialogDescription {
	margin-bottom: 20px;
    color: #B0B0B0;
	font-size: 15px;
	line-height: 1.5;
}

#cancel-button{
    color: white;
}
#cancel-button:hover{
    background-color: #282b40;
}