
@import "@radix-ui/themes/styles.css";

@media only screen and (max-width: 767px) { 
  /*Diseño movil*/  
    
  @media screen and (orientation: portrait) { 
    #register-form{
      background-color: #1a1c2c;
      display: flex;
      justify-content: center; 
      align-items: center;
      padding: 115px; 
    }
    
    #register-div{
      background-color: rgba(15, 17, 26, 0.8);
      width: 450px;
      border-radius: 10px;
      justify-content: center;
      height: 730px;
      box-shadow:  0 0 20px 2px black;
    }
    
    #label-register{
      font-style:geist-sans;
      font-size: 35px;
      padding-block-end: 25%;
      margin-top: 50px;
    }
    
    #input_register{
      background-color: rgba(15, 17, 26, 0.8);
      border: 1px solid #333;
      color: white; 
      width: 200px;
      height: 30px;
      margin-left: 20px;
      margin-right: 20px;
    }
    
    #input_register:hover{
      border-color: #9678C8;
    }
    
    #check-box-register{
      margin-top: 30px;
    
    }
      
    #register-label{
      font-size: 18px;
    }
    .CheckboxRootRegister {
      background-color: white;
      width: 15px;
      height: 15px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 10px var(--black-a7);
    }
      
    .CheckboxRootRegister:hover {
      background-color: #1a1a1a;
      border: 1px solid #333;
    }
    
    .CheckboxRootRegister:focus {
      box-shadow: 0 0 0 2px black;
    }
      
    .CheckboxIndicatorRegister {
      color: #9678C8;
    }
      
    #register-button{
      margin-top: -15px;
      color: white;
      border: 1px solid #333;
      width: 180px;
    }
      
    #register-button:hover{
      border-color: #9678C8;
    }
      
    #callout-root-register{
      margin-top: -95px;
      border-radius: 10px;
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 822px) {
   
  #register-form{
    background-color: #1a1c2c;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 115px; 
  }
  
  #register-div{
    background-color: rgba(15, 17, 26, 0.8);
    width: 450px;
    border-radius: 10px;
    justify-content: center;
    height: 800px;
    box-shadow:  0 0 20px 2px black;
  }
  
  #label-register{
    font-style:geist-sans;
    font-size: 35px;
    padding-block-end: 25%;
    margin-top: 50px;
  }
  
  #input_register{
    background-color: rgba(15, 17, 26, 0.8);
    border: 1px solid #333;
    color: white; 
    width: 200px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #input_register:hover{
    border-color: #9678C8;
  }
  
  #check-box-register{
    margin-top: 30px;
  
  }
    
  .CheckboxRootRegister {
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px var(--black-a7);
  }
    
  .CheckboxRootRegister:hover {
    background-color: #1a1a1a;
    border: 1px solid #333;
  }
  
  .CheckboxRootRegister:focus {
    box-shadow: 0 0 0 2px black;
  }
    
  .CheckboxIndicatorRegister {
    color: #9678C8;
  }
    
  #register-button{
    margin-top: -15px;
    color: white;
    border: 1px solid #333;
    width: 180px;
  }
    
  #register-button:hover{
    border-color: #9678C8;
  }
    
  #callout-root-register{
    margin-top: -85px;
    border-radius: 10px;
  }
}


@media only screen and (min-width: 822px) and (max-width: 1025px) {
  
  #register-form{
    background-color: #1a1c2c;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 115px; 
  }
  
  #register-div{
    background-color: rgba(15, 17, 26, 0.8);
    width: 650px;
    border-radius: 10px;
    justify-content: center;
    height: 920px;
    box-shadow:  0 0 20px 2px black;
  }
  
  #label-register{
    font-style:geist-sans;
    font-size: 35px;
    padding-block-end: 25%;
    margin-top: 50px;
  }
  
  #input_register{
    background-color: rgba(15, 17, 26, 0.8);
    border: 1px solid #333;
    color: white; 
    width: 300px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
  }
  
  #input_register:hover{
    border-color: #9678C8;
  }
  
  #check-box-register{
    margin-top: 30px;
    font-size: 20px;
  
  }

  #register-label{
      font-size: 18px;
  }
    
  .CheckboxRootRegister {
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px var(--black-a7);
  }
    
  .CheckboxRootRegister:hover {
    background-color: #1a1a1a;
    border: 1px solid #333;
  }
  
  .CheckboxRootRegister:focus {
    box-shadow: 0 0 0 2px black;
  }
    
  .CheckboxIndicatorRegister {
    color: #9678C8;
  }
    
  #register-button{
    margin-top: -15px;
    color: white;
    border: 1px solid #333;
    width: 280px;
    font-size: 22px;
  
  }
    
  #register-button:hover{
    border-color: #9678C8;
  }
    
  #callout-root-register{
    margin-top: -85px;
    border-radius: 10px;
    width: 203px;
    height: 45px;
  }
  
  .callout-text-large{
    font-size: 22px;
  }

}

@media only screen and (min-width: 1025px) { 
  
  /*Diseño escritorio*/
  @media screen and (orientation: landscape) {
    #register-form{
      background-color: #1a1c2c;
      display: flex;
      justify-content: center; 
      padding: 115px; 
    }
    
    #register-div{
      background-color: rgba(15, 17, 26, 0.8);
      width: 25%;
      border-radius: 10px;
      justify-content: center;
      height: 760px;
      box-shadow:  0 0 20px 2px black;
    }
    
    #label-register{
      font-style:geist-sans;
      font-size: 35px;
      padding-block-end: 25%;
      margin-top: 50px;
    }
    
    #input_register{
      background-color: rgba(15, 17, 26, 0.8);
      border: 1px solid #333;
      color: white; 
      width: 250px;
      height: 30px;
    }
    
    #input_register:hover{
      border-color: #9678C8;
    }
    
    #check-box-register{
      margin-top: 30px;
    
    }

    #register-label{
      font-size: 18px;
    }
      
    .CheckboxRootRegister {
      background-color: white;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 10px var(--black-a7);
    }
      
    .CheckboxRootRegister:hover {
      background-color: #1a1a1a;
      border: 1px solid #333;
    }
    
    .CheckboxRootRegister:focus {
      box-shadow: 0 0 0 2px black;
    }
      
    .CheckboxIndicatorRegister {
      color: #9678C8;
    }
      
    #register-button{
      margin-top: -15px;
      color: white;
      border: 1px solid #333;
      width: 250px;
    }
      
    #register-button:hover{
      border-color: #9678C8;
    }
      
    #callout-root-register{
      margin-top: -95px;
      border-radius: 10px;
    } 
  }

}

